<% if @current_user %>
    <p>Vous êtes déja connectés en tant que <%= @current_user.first_name %></p>
    <p>Ce n'est pas vous ? <%= link_to "Se deconnecter", "/pages/disconnect" %></p>

<% else %>
    <header>
        <h1>Liste d'attente de Cowork</h1>
    </header>

    <section class="inscription-section">
        <p>
            Bienvenue sur la liste d'attente de Cowork, si vous souhaitez pouvoir louer un espace de travail, merci de remplir le formulaire ci-dessous.
            Nous sommes désolés de ne pas pouvoir vous en fournir un directement, malheureusement le grand nombre de demandes nous force à mettre en place cette simple règle: "premier arrivé, premier servi"
            <br/>
            Une fois votre inscription faite <strong>et votre email validé</strong>, vous pourrez consulter votre position dans la liste ici.
            De manière à être sur que la liste est toujours à jour, un email vous sera envoyé au bout d'un certain temps pour vérifier que vous êtes toujours interéssé.
            <br/>
            Toujours partants ? Inscrivez vous ci-dessous et en route !
            <br/>
            <p><%= link_to "Je veux revenir à l'accueil", root_path %></p>
        </p>

        <%= form_tag "/pages/create", method: :post do %>

            <div class="input-box">
                <input type="text" name="first_name" placeholder="votre prénom" value=<%= params[:first_name] %>>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:first_name].first) : ("") %>
                </span>
            </div>

            <div class="input-box">
                <input type="text" name="last_name" placeholder="votre nom" value=<%= params[:last_name] %>>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:last_name].first) : ("") %>
                </span>
            </div>

            <div class="input-box">
                <input type="email" name="email" placeholder="votre adresse email" value=<%= params[:email] %>>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:email].first) : ("") %>
                </span>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="votre mot de passe" value=<%= params[:password] %>>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:password].first) : ("") %>
                </span>
            </div>

            <div class="input-box">
                <input type="text" name="phone_number" placeholder="Numéro de téléphone" value=<%= params[:phone_number] %>>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:phone_number].first) : ("") %>
                </span>
            </div>

            <div class="input-box textarea-box">
                <textarea rows="7" name="biography" placeholder="Qui êtes vous en bref ?"><%= params[:biography] %></textarea>
                <span class="form-error">
                    <%= (@user) ? (@user.errors[:biography].first) : ("") %>
                </span>
            </div>

            <div class="input-box button-box">
                <input type="submit" value="Créer le compte" class="submit-button">
            </div>
        <% end %>
    </section>

<% end %>