<% if !@current_user %>
    <header>
        <h1>Oups, on dirait que vous n'êtes pas connecté</h1>
    </header>

<% else %>
<header>
    <h1>Bienvenue <%= @current_user.first_name %> :)</h1>
</header>
    <section class="profil-section">

        <% if @current_user.accepted %>
            <p>
                Votre patience à payée ! Vous avez atuellement un accès à l'espace de Coworking.
            </p>

        <% elsif @current_user.expired %>
            <p>
                Oups, on dirait que vous n'avez pas répondu à notre email pour savoir si vous étiez toujours interréssé par une place...
                <br/>
                Votre demande à expirée, <%= link_to "la renouveller ?", "" %>
            </p>

        <% elsif @current_user.is_verified %>
            <p>
                Il y a actuellement 
                <span class="user-number"><%= @verified_users.length %></span>
                 utilisateurs dans la liste d'attente et vous êtes numéro 
                 <span class="user-number"><%= @position %></span>
             </p>

        <% else %>
            <p>
                Attention, votre demande à été prise en compte mais votre inscription est en attente de validation.
                <br/>
                Un email vous à été envoyé, merci de cliquer sur le lien présent dans celui-ci pour finaliser votre inscription.
                Tant que votre email n'a pas été validé <span class="warning">vous n'êtes pas pris en compte dans la liste d'attente.</span>
            </p>
            <p>Vous n'avez pas reçu l'email ? <%= link_to "Le renvoyer", "resend" %></p>
            <%= flash[:info] %>

            <p>
                <span class="user-number">
                    <%= @verified_users.length %>    
                </span>
                 personne<%= (@plural) ? ("s sont") : (" est") %> actuellement dans la liste d'attente
            </p>
        <% end %>

        <p>
            <%= link_to "Se deconnecter", "/pages/disconnect" %>
        </p>

        <% if @current_user %>
            <p class="dangerous-button">
                <%= link_to "Supprimer votre compte", "/pages/destroy" %>
            </p>
        <% end %>
    </section>
<% end %>